html,

  html{
    height: 100%;
  }

  .text-center{
        
    margin-left: 60vw;
  
  }

.form-signin {
  max-width: 330px;
  padding: 15px;
  font-size: clamp(1vw, 1.5vw , 2vw);
}

.button-login{
  margin-left: 5%;
  border-radius: 5px;
  width: 20vw;
  height: 3vw;
  font-size: clamp(1vw, 1vw , 1vw);
}


.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
  width: 20vw;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;
  width: 20vw;

}

.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;
  width: 20vw;
}

  .keep-conecting{ 
    font-size: clamp(1vw, 2vw , 2vw);
    float:left;
  }

  .forget-password{
    font-size: clamp(1vw, 2vw , 80vw);
    color: blue;
    float:right;
  }
  
  .create-account{
    font-size: clamp(1vw, 1.5vw , 2vw);
    color: blue;
    float: left;
    
  }

  .clear{
    clear:both;
  }

  .description-name{
    float: right;
    margin-top: -35vw;
    margin-right: 30vw;
    font-size: clamp(2.5vw, 3vw , 3.5vw);
  }

  .description{
    float: right;
    margin-top: -31.5vw;
    margin-right: 29.6vw;
    border: 1px solid black;
    background-color: lightblue;
    height: 28vw;
    font-size: clamp(0.675vw, 1.175vw , 1.675vw);
  }

  .element-right-top{

    position: absolute;
    width: 5%;
    left: 95%;
    top: 24px;
  }

  .element-center-top{

    position: absolute;
    width: 5%;
    left: 88%;
    top: 24px;

  }

  .element-left-top{
    
    position: absolute;
    width: 5%;
    left: 81%;
    top: 24px;
    
  }


  .element-left-bot{
    
    width: 5%;
    position: absolute;
    left: 3vw;
    
  }
  .element-center-bot{
    
    width: 5%;
    position: absolute;
    left: 9vw;
    
  }
  .element-right-bot{
    width: 5%;
    position: absolute;
    left: 15vw;
  }

  .follow{
    width: 98vw;
    position: fixed;
  }


  .format-button{
    font-size: clamp(1vw, 1.5vw , 2vw);
    margin-left: 47vw;
  }

  .format-follow{
    font-size: clamp(2vw, 2.5vw , 3vw);
    margin-left: 25vw;
    margin-top: -1.5vw;
  }

  .format-followers{
    font-size: clamp(2vw, 2.5vw , 3vw);
    margin-left: 60vw;
    margin-top: -5.2vw;
  }

  .format-box{
    margin-left: 25vw;
    margin-right: 25.5vw;
    margin-top: -2.5vw;
    border: 1px solid black;
    background-color: lightblue;
    height: 20vw;
    font-size: clamp(0.99vw, 1.49vw , 1.99vw);
    
  }

  .format-song{
    font-size: clamp(2vw, 2.5vw , 3vw);
  }

